/* Universal Selector */
* {
  margin:0;
  padding:0;  
  font-family: "Goudy Bookletter 1911", 'Times New Roman', Times, serif;
}

/* Element Selectors */
:root {
  --dark: #31343D;
  --dark-purple: #592a5a94;
  --black: #000000;
  --green: #468404;
  --dark-teal: #10888c;
}
body {
  position: relative;
  font-family: "Goudy Bookletter 1911", 'Times New Roman', Times, serif;
  font-size: 20px;
  background-color: var(--dark-purple);
  color: var(--dark);
}

h1,
h2 {
  margin: 20px;
}

main {
  padding: 60px 0;
}

li {
  display: inline;
  padding: 0px 20px;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: var(--black);
}

header,
footer {
  height: 60px;
  width: 100%;
  line-height: 60px;
  background-color: var(--dark-teal);
}

header {
  position: fixed;
  border-bottom: 10px solid var(--black);
}

footer {
  position: absolute;
  margin-top: 0;
  bottom: 0;
  border-bottom: 10px solid var(--black);
  color: var(--black);    
}

figure {
  margin-bottom: 40px;
}

img {
  display: block;
  margin: 20px auto;
  border-radius: 21px
}

section {
  margin-bottom: 0;
  padding: 20px 10px 40px 10px;
  border-top: 3px solid var(--dark-teal);
  background-color: var(--dark-teal);
}

form {
  /* Center the form on the page */
  margin: 0 auto;
  width: 500px;
  padding: 10px;
  border: 5px solid var(--dark);
  border-radius: 20px;
}

label {
  display: inline-block;
  width: 100px;
}
  
input, 
textarea {
  box-sizing: border-box;
  width: 300px;
  border: 1px solid var(--dark);
}

textarea {
  vertical-align: top;
  height: 60px;
}
  
button {
  height: 40px;
  width: 120px;
  background-color: var(--dark);
  color: var(--green);
}
 
/* Class Selectors */
.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}
